@page "/blog"

<PageTitle>Blog - Md. Jannatul Nayem</PageTitle>

<h1>//*Blogs</h1>

@if (blogPosts != null && blogPosts.Any())
{
    <div class="blog-posts d-flex flex-wrap">
        @foreach (var post in blogPosts)
        {
            <div class="blog-post card m-2" style="width: 18rem;">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title">@post.Title</h2>
                    <p class="card-text">Find it <a class="text-primary" href="@post.Link" target="_blank">HERE</a></p>
                    <p class="card-text">Published on: @post.PublicationDate.ToShortDateString()</p>
                    <p class="card-text">Tags: @string.Join(", ", post.Tags == null? "None":post.Tags)</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No blog posts to display.</p>
}

@code {

    List<BlogPost> blogPosts = new List<BlogPost>
    {
        new BlogPost { Title = "Machine Learning For .NET Developers - Myths Uncovered!", Link = "https://www.facebook.com/groups/dndcb/permalink/968838820825697/",PublicationDate = new DateTime(2023, 7, 3), Tags = new List<string> { ".NET", "C#", "Machine Learning" } },
        new BlogPost { Title = "Machine Learning For Absolute Beginners", Link = "https://www.facebook.com/groups/dndcb/permalink/931925424517037/", PublicationDate = new DateTime(2023, 4, 23), Tags = new List<string> { "Machine Learning", "AI", "Beginners" } },
        
    };


    public class BlogPost {
        public string? Title {get; set;}
        public string? Link {get; set;}
        public DateTime PublicationDate {get; set;}
        public List<string>? Tags {get; set;}
    }
}
