@page "/contact"

<PageTitle>Contact - Md. Jannatul Nayem</PageTitle>

<section id="contact" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <!-- Social Media Links with "oi" icons -->
                <div class="mb-4 text-center">
                    <a href="https://www.facebook.com/yourprofile" class="btn btn-primary btn-social mb-3">facebook</a>
                    <a href="https://www.instagram.com/yourprofile" class="btn btn-danger btn-social mb-3">Insta</a>
                    <a href="https://twitter.com/yourprofile" class="btn btn-info btn-social mb-3">twitter</a>
                    <a href="https://www.linkedin.com/in/yourprofile" class="btn btn-primary btn-social mb-3">Linkedin</a>
                    <a href="https://github.com/yourprofile" class="btn btn-dark btn-social mb-3">GitHub</a>
                    <a href="https://dev.azure.com/yourprofile" class="btn btn-secondary btn-social mb-3">Azure DevOps</a>
                    <a href="https://stackoverflow.com/users/yourprofile" class="btn btn-warning btn-social mb-3">Stack Overflow</a>
                </div>

                <h2 class="text-center mb-4">Contact Me</h2>
                <p class="text-center">Feel free to get in touch for any inquiries or feedback.</p>

                <form>
                    <div class="form-group mb-3">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Your Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Your Email" required>
                    </div>
                    <div class="form-group mb-4">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="5" placeholder="Your Message" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>


